<suite name="UI/API/DB Suite">
    
    <!-- Global browser parameter -->
    <parameter name="browser" value="chrome"/>

    <!-- Global listeners -->
    <listeners>
        <listener class-name="costar.testing.ui.config.DriverListener"/>
        <listener class-name="costar.testing.base.util.AnnotationTransformer"/>>
  </listeners>


    <!-- Test group -->
    <test name="CoStar Career DB Test">
        <classes>
       
        	<class name="costar.testing.db.tests.CoStarDBTests"/>>
        </classes>>
    </test>
</suite>